<div class="templatemo-top-bar" id="templatemo-top">
    <div class="container">
        <div class="subheader">
            <div id="phone" class="pull-left">
                    <img src="../images/globe.png" alt="globe"/>
                    @Drovideo
            </div>
            <div id="email" class="pull-right">
                    <img src="../images/email.png" alt="email"/>
                    hello@drovideo.com
            </div>
        </div>
    </div>
</div>

<!-- Header -->
<div class="templatemo-top-menu">
    <div class="container">
        <!-- Static navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        
                        <a href="#" class="navbar-brand">
                            <h1><a routerLink="/home" class="txt_darkgrey">Drovideo</a></h1>
                        </a>
                </div>
                
                
                <div class="navbar-collapse collapse" id="templatemo-nav-bar">
                    <ul class="nav navbar-nav navbar-right" style="margin-top: 40px;">
                        <li routerLinkActive="active"><a routerLink="/home">HOME</a></li>
                        <li><a (click)="auth.login()" *ngIf="!auth.authenticated()">LOG IN</a></li>
                        <li><a (click)="auth.logout()" *ngIf="auth.authenticated()">LOG OUT</a></li>
                        <li routerLinkActive="active"><a routerLink="/featured">FEATURED</a></li>
                        <li routerLinkActive="active"><a routerLink="/map">MAP</a></li>
                        <li routerLinkActive="active"><a routerLink="/add-video" >ADD VIDEO</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </div><!--/.navbar -->
    </div> <!-- /container -->
</div>

<main>
<router-outlet></router-outlet>
</main>