<nav class="navbar nav-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" scroll-to="welcome" offset="50"><span>Drovideo - The Drone sharing community</span></a>
            <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
            <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
        </div>
    </div>
</nav>

<main>
  <router-outlet></router-outlet>
  <div id="map">
    <navigator></navigator>
    <marker></marker>
  </div>
</main>